.form-container {
  min-width: 30vw;
  border: 1px solid blue;
  display: flex;
  align-items: top;
  justify-content: center;
  margin-top: 20px;
}

.form-items-container {
  max-width: 20vw;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

label {
  text-align: left;
  padding: 10px;
}
