/* .fixed {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
 

 
  position: fixed;
  z-index: 5;
  width: 90%;
} */
.navbar-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-bottom: 2px solid black;
  align-items: center;
  padding-bottom: 10px;
}
.nav-sides {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
